header {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--clr-white);
    border-radius: var(--r-00-22);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1300px;
    padding: var(--s-200) var(--s-100);
}

.header-content button {
    border: none;
    background: none;
}

.title {
    padding: var(--s-50) var(--s-200);
    background-color: var(--clr-sec40);
    font-size: var(--s-150);
    border-radius: var(--r-1-000);
}

.search-container,
#search, 
.header-content nav {
    display: none;
}

.search-container {
    width: 100%;
}

.search-container__input-results {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}

#search {
    border: none;
    width: 80%;
    text-indent: var(--s-100);
    height: var(--s-250);
    border-radius: var(--r-3);
    background-color: var(--clr-bg);
    z-index: 2;
}

#search:focus {
    outline: 2px solid var(--clr-ter);
}

.search-container__results {
    display: none;
    flex-direction: column;
    gap: var(--s-50);
    position: absolute;
    top: var(--s-250);
    width: 78%;
    background-color: var(--clr-pri);
    border-radius: var(--r-2);
    z-index: 1;
}

.search-container__results_result {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;

    background-color: var(--clr-white);
    gap: var(--s-25);
    padding: var(--s-25);
    box-shadow: var(--bs-1);
    height: var(--s-350);
    border-radius: var(--r-1);
}

.search-container__results_result__img {
    object-fit: cover;

    height: var(--s-300);
    width: var(--s-300);
    border-radius: var(--r-circle);
}

.search-container__results_result__content_bottom {
    display: flex;
    gap: var(--s-50);
}

.header-content.mobile-menu nav.nav,
.header-content.mobile-search .search-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--clr-pri);
}

.header-content.mobile-menu nav.nav ul {
    flex-direction: column;
    text-align: center;
    gap: var(--s-100);
}

.header-content.mobile-menu nav.nav a {
    color: var(--clr-white);
}

.menu-close, .search-close {
    display: none;
    position: absolute;
    top: var(--s-250);
    left: var(--s-100);
}

.show {
    display: block;
}

.show-flex {
    display: flex;
}

.header-content.mobile-menu nav.nav,
.header-content.mobile-search .search-container,
.header-content.mobile-search .search-container__input-results,
.header-content.mobile-search #search {
    display: flex;
}


@media screen and (min-width: 700px) {

    .menu-open, .search-open {
        display: none;
    }

    .header-content nav, #search {
        display: block;
    }

    .search-container,
    .search-container__input-results,
    header nav ul {
        display: flex;
     }

    header nav ul {
        font-weight: 700;
        gap: var(--s-100);
    }
}