header {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--color-white);
    border-radius: var(--radius-bottom-rounded);
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1300px;
    padding: var(--size-200) var(--size-100);

    & button {
        border: none;
        background: none;
    }
}

.header__content-title {
    padding: var(--size-50) var(--size-200);
    background-color: var(--color-secondary40);
    font-size: var(--size-150);
    border-radius: var(--radius-top-left);
}

.header__content-search-container,
#search, 
.header__content nav {
    display: none;
}

.header__content-search-container {
    width: 100%;
}

.search-container__input-results {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: var(--size-75);
    width: 100%;
}

#search {
    border: none;
    width: 80%;
    text-indent: var(--size-100);
    height: var(--size-250);
    border-radius: var(--radius-3);
    background-color: var(--color-background);
    z-index: 2;

        &:focus {
            outline: 2px solid var(--color-tertiary);
        }
}

.search-container__results {
    display: none;
    flex-direction: column;
    gap: var(--size-50);
    position: absolute;
    top: var(--size-250);
    width: 100%;
    max-height: 70vh;
    overflow-y: scroll;
    background-color: var(--color-primary);
    border-radius: var(--radius-2);
    z-index: 1;
    scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
}

.search-container__results-result {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;

    background-color: var(--color-white);
    gap: var(--size-25);
    padding: var(--size-25);
    box-shadow: var(--box-shadow-light);
    border-radius: var(--radius-1);
}

.result__img {
    object-fit: cover;

    height: var(--size-300);
    width: var(--size-300);
    border-radius: var(--radius-circle);
}

.result__content-bottom {
    display: flex;
    gap: var(--size-50);
}

.header__content.mobile-menu nav.nav,
.header__content.mobile-search .header__content-search-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    align-items: center;
    justify-content: center;
    background: var(--color-primary);
    border-radius: var(--radius-bottom-rounded);
    padding-block: var(--size-400);
}

.header__content {
    &.mobile-menu {
        & nav.nav {
            animation: slideInFromLeft 300ms ease-in 1;
            & ul {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: var(--size-100);
            }
        }
        &.closing {
            animation: slideOutToLeft 300ms ease-out 1;
        }
    }
    &.mobile-search {
        & .header__content-search-container {
            animation: slideInFromRight 300ms ease-in 1;
        }
        &.closing {
            animation: slideOutToRight 300ms ease-out 1;
        }
    }
}

.header__content.mobile-menu nav.nav a {
    color: var(--color-white);
}

.header__content.mobile-menu nav.nav a:hover {
    text-decoration: underline;
}

.menu-close, .search-close {
    display: none;
    position: absolute;
    top: var(--size-100);
    left: var(--size-100);
    z-index: 100;
}

.show {
    display: block;
}

.show-flex {
    display: flex;
}

.header__content.mobile-menu nav.nav,
.header__content.mobile-search .header__content-search-container,
.header__content.mobile-search .search-container__input-results,
.header__content.mobile-search #search {
    display: flex;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideOutToLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes slideOutToRight {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

@media screen and (min-width: 800px) {

    .menu-open, .search-open {
        display: none;
    }

    .header__content nav, #search {
        display: block;
    }

    .header__content-search-container,
    .search-container__input-results,
    header nav ul {
        display: flex;
     }

    header nav ul {
        font-weight: 700;
        gap: var(--size-100);
    }

    header nav ul li {
        display: flex;
        align-items: center;
        padding: var(--size-75) var(--size-25);
    }

    header nav ul li:hover,
    .active {
        background-color: var(--color-secondary40);
        border-radius: var(--radius-1);
    }

    .search-container__results {
        width: 80%;
    }
}