@import url(/styles/imports/variables.css);

.show {
    display: flex;
}

.hide {
    display: none;
}

.loading-container,
.loading-container_loader {
    align-items: center;
    justify-content: center;
}

.loading-container {
    width: 100%;
}

.loading-container_loader {
    display: flex;
    height: 40px;
    width: 40px;
    outline: 10px solid var(--clr-pri);
    border-radius: 50%;
    position: relative;
    font-size: 6px;
}

.circle1,
.circle2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translate(0, -25px);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    animation: orbit 3s ease-in-out infinite;
}

.circle1 {
    background-color: var(--clr-acc);
}

.circle2 {
    background-color: var(--clr-sec);
    animation-delay: 1.5s;
}

@keyframes orbit {
    0% {
        transform: translate(-50%, -50%) rotate(0deg) translate(0, -25px);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg) translate(0, -25px);
    }
}