@import url(variables.css);

/* font families */
body { 
    font-family: var(--ff-body); 
    background-color: var(--clr-bg);
}

h1, h2, h3, a, button, 
.title, 
.blog-card, 
.categories__cards_card, 
.loading-container, 
.latest-posts__amount, 
.search-container__results,
#search,
.blog__conversation__form input,
.blog__conversation__form textarea,
.blog-category { 
    font-family: var(--ff-headers); 
    color: var(--clr-pri);
}

h1 { font-size: var(--fs-600); }
h2 { font-size: var(--fs-500); }
h3 { font-size: var(--fs-400); }

li { font-size: var(--fs-300); }

/* font sizes */
.fs-xxs { font-size: var(--fs-100); }
.fs-xs { font-size: var(--fs-200); }
.fs-s { font-size: var(--fs-300); }
.fs-m { font-size: var(--fs-400); }
.fs-l { font-size: var(--fs-500); }
.fs-xl { font-size: var(--fs-600); }
.fs-xxl { font-size: var(--fs-700); }
.fs-xxxl { font-size: var(--fs-800); }

#search {
    font-size: 1rem !important;
}

/* font weights */
.fw-400 { font-weight: 400; }
.fw-500 { font-weight: 500; }
.fw-600 { font-weight: 600; }
.fw-700 { font-weight: 700; }
.fw-800 { font-weight: 800; }
.fw-900 { font-weight: 900; }
.fw-1000 { font-weight: 1000; }

/* text colors */
.tc-pri { color: var(--clr-pri); }
.tc-sec { color: var(--clr-sec); }
.tc-acc { color: var(--clr-acc); }

.tc-white { color: var(--clr-white); }
.tc-pri70 { color: var(--clr-pri70); }

.tc-error { color: var(--clr-error); }
.tc-success { color: var(--clr-success); }

/* other text properties */
.ta-center { text-align: center; }
.td-under { text-decoration: underline; }
.tt-up { text-transform: uppercase; }
.tt-cap { text-transform: capitalize; }

/* background colors */
.bg-clr { background-color: var(--clr-bg); }
.bg-pri { background-color: var(--clr-pri); }
.bg-sec { background-color: var(--clr-sec); }

.bg-white { background-color: var(--clr-white); }

.bg-pri20 { background-color: var(--clr-sec40); }
.bg-sec40 { background-color: var(--clr-sec40); }
.bg-acc40 { background-color: var(--clr-acc40); }

.bg-error { background-color: var(--clr-error); }
.bg-error20 { background-color: var(--clr-error20); }
.bg-success { background-color: var(--clr-success); }
.bg-success20 { background-color: var(--clr-success20); }

/* margin */
.m-1 { margin: var(--s-75); }
.m-2 { margin: var(--s-150); }

.mx-1 { margin-inline: var(--s-75); }
.mx-2 { margin-inline: var(--s-150); }

.my-1 { margin-block: var(--s-75); }
.my-2 { margin-block: var(--s-150); }
.my-3 { margin-block: var(--s-200); }
.my-4 { margin-block: var(--s-250); }

.mt-1 { margin-top: var(--s-75); }
.mt-2 { margin-top: var(--s-150); }

.mb-1 { margin-bottom: var(--s-75); }
.mb-2 { margin-bottom: var(--s-150); }

/* padding */
.p-1 { padding: var(--s-75); }
.p-2 { padding: var(--s-150); }
.p-3 { padding: var(--s-200); }
.p-4 { padding: var(--s-250); }

.px-1 { padding-inline: var(--s-75); }
.px-2 { padding-inline: var(--s-150); }
.px-3 { padding-inline: var(--s-200); }
.px-4 { padding-inline: var(--s-250); }

.py-1 { padding-block: var(--s-75); }
.py-2 { padding-block: var(--s-150); }
.py-3 { padding-block: var(--s-200); }
.py-4 { padding-block: var(--s-250); }

/* widths */

/* percents */
.w-full { width: 100%; }
.w-75 { width: 75%; }
.w-half { width: 50%; }
.w-25 { width: 25%; }

/* heights */
.h-full { height: 100vh; }

/* rem */
.h-15 { height: 15rem; }
.h-10 { height: 10rem; }
.h-5 { height: 5rem; }


/* box-shadows */
.bs-1 {
    box-shadow: var(--bs-1);
}

/* borders */
.border-error {
    border-left: var(--clr-error) 8px solid;
}
.border-success {
    border-left: var(--clr-success) 8px solid;
}

