@import url(/styles/imports/variables.css);

.loading {
    overflow: hidden;
    position: relative;
}

.line {
    height: var(--s-50);
    width: 80%;
    background-color: var(--clr-pri20);
    z-index: 1;
}

 .load-overlay {
    position: absolute;
    height: 95%;
    width: 100%;
    z-index: 2;
    animation: pulseOverlay 2s infinite linear alternate;
}

@keyframes pulseOverlay {
    0% {
        background-color: #ffffffee;
    }
    100% {
        background-color: #ffffff00;
    }
} 