@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&family=Nunito:wght@400;500;600;700;800;900;1000&display=swap');

:root {
    /* colors */
    --color-primary: #001F3F;
    --color-secondary: #7FDBFF;
    --color-tertiary: #00b7ff;
    --color-accent: #FFD700;

    --color-primary20: #001F3F20;
    --color-primary40: #001F3F40;
    --color-primary70: #001F3F70;
    --color-secondary40: #7FDBFF40;
    --color-accent40: #FFD70040;

    --color-background: #F8F9FA;
    --color-white: #FFFFFF;
    --color-black: #000000;

    --color-white40: #FFFFFF40;
    --color-black40: #00000040;

    --color-error: red;
    --color-errorBg: #ffd5d7;

    --color-success: green;
    --color-successBg: #e1ffe6;

    --color-infoBg: #d6f3ff;

    /* typography */
    --font-family-body: 'Lora', serif;
    --font-family-headers: 'Nunito', sans-serif;

    /* sizes */
    --size-25: 0.25rem;
    --size-50: 0.5rem;
    --size-75: 0.75rem;
    --size-100: 1rem;
    --size-125: 1.25rem;
    --size-150: 1.5rem;
    --size-175: 1.75rem;
    --size-200: 2rem;
    --size-250: 2.5rem;
    --size-300: 3rem;
    --size-350: 3.5rem;
    --size-400: 4rem;
    --size-500: 5rem;
    --size-600: 6rem;

    --font-size-100: var(--size-25);
    --font-size-200: var(--size-50);
    --font-size-300: var(--size-75);
    --font-size-400: var(--size-100);
    --font-size-500: var(--size-150);
    --font-size-600: var(--size-200);
    --font-size-700: var(--size-300);
    --font-size-800: var(--size-400);

    /* box shadow */
    --box-shadow-light: 2px 2px 4px var(--color-black40);
    --box-shadow-heavy: 4px 8px 16px var(--color-black40);

    /* border radius */
    --radius-1: 8px;
    --radius-2: 16px;
    --radius-3: 32px;

    --radius-1-0: 8px 0;
    --radius-bottom-rounded: 0 0 16px 16px;
    --radius-top-rounded: 16px 16px 0 0;
    --radius-top-left: 8px 0 0 0;
    --radius-top-bottom: 8px 0 8px 0;
    --radius-top-left-bottom-right-corner: 8px 0 0 8px;

    --radius-circle: 50%;

    /* transitions */
    --transition: all 0.3s ease-in-out;

    /* brightness filter */
    --brightness-hover: 0.8;
}

@media screen and (min-width: 700px) {
        :root {
                --font-size-100: var(--size-50);
                --font-size-200: var(--size-75);
                --font-size-300: var(--size-100);
                --font-size-400: var(--size-150);
                --font-size-500: var(--size-200);
                --font-size-600: var(--size-300);
                --font-size-700: var(--size-400);
                --font-size-800: var(--size-400);
        }
    }