@import url(../../styles/imports/variables.css);

.toast {
    position: fixed;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 30rem;
    z-index: 100;
    padding: var(--size-50);
    border-radius: var(--radius-1);
 }

 .toast.hidden {
    display: none;
 }

 .toast.show {
    display: block;
    animation: comeDown 400ms ease-in 1;
 }

 .toast.show.closing {
   animation: goUp 400ms ease-in 1;
 }

 .countdown-line {
   height: 4px;
   width: 100%;
   position: absolute;
   left: 0;
   bottom: 0;
}

 @keyframes comeDown {
   0% {
    top: -8%;
   }
   20% {
    top: 0%;
   }
   50% {
    top: 8%;
   }
   75% {
    top: 7%;
   }
   85% {
    top: 7.5%;
   }
   100% {
    top: 8%;
   }
}

@keyframes goUp {
   0% {
    top: 8%;
   }
   90% {
    top: 6%;
   }
   100% {
    top: -8%;
   }
}

@keyframes countdown {
   from {
       width: 100%;
   }
   to {
       width: 0;
   }
}