footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    gap: var(--size-300);
    color: var(--color-white);
    border-radius: var( --radius-top-rounded);
    background-color: var(--color-primary);
}

footer nav {
    margin-top: var(--size-300);
}