@import url(../../styles/imports/variables.css);

.snackbar {
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 30rem;
    z-index: 100;
    padding: var(--s-50);
    border-radius: var(--r-1);
 }

 .snackbar.hidden {
    display: none;
 }

 .snackbar.show {
    display: block;
 }