@import url(imports/constants.css);
@import url(imports/variables.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: var(--s-200) var(--s-100);
    background-color: var(--clr-white);
    border-radius: var(--r-00-22);
}

.title {

    padding: var(--s-50) var(--s-200);
    background-color: var(--clr-sec40);
    font-size: var(--s-150);
    border-radius: var(--r-1-000);
}

footer, footer nav, .welcome, .blog-card__content {
    display: flex;
    flex-direction: column;
}

.categories__cards_card:hover, .latest-posts__posts .blog-card:hover, .cta:hover  {
    cursor: pointer;
    filter: brightness(var(--b-hover));
}

footer {
    justify-content: space-between;
    align-items: center;

    color: var(--clr-white);
    background-color: var(--clr-pri);
    border-radius: var(--r-22-00);
}

footer nav {
    justify-content: center;
    align-items: center;

    margin-block: var(--s-400);
}

footer nav a {
    color: var(--clr-white);
    text-decoration: none;
}

.cta {
    font-weight: bold;
    border: none;
    cursor: pointer;

    padding: var(--s-50) var(--s-150);
    border-radius: var(--r-2);
    background-color: var(--clr-sec);
    box-shadow: var(--bs-1);
    transition: var(--transition);
}

.blog-card {
    background-color: var(--clr-white);
    border-radius: var(--r-2);
    transition: var(--transition);
}

.blog-card__img {
    width: 100%;
    object-fit: contain;
    background-color: var(--clr-white);
    border-radius: var(--r-22-00);
}

.blog-card__content {
    position: relative;
    gap: var(--s-50);
    border-radius: var(--r-00-22);
}

.blog-card__content_category {
    position: absolute;
    top: -0.75rem;

    color: var(--clr-acc);
    background-color: var(--clr-pri);
    border-radius: var(--r-1-0-1-0);
    padding: var(--s-25) var(--s-100);
}

.blog-card__content_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categories__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.categories__cards_card {
    display: flex;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
    flex-basis: 46%;

    background-color: var(--clr-white);
    box-shadow: var(--bs-1);
    border-radius: var(--r-1);
    transition: var(--transition);
    margin: var(--s-25);
}

.categories__cards_card__img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    object-fit: contain;
    background-color: var(--clr-pri20);
    padding: var(--s-100);
    border-radius: var(--r-1-00-1)
}

.categories__cards_card__title {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.latest-posts__posts {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    gap: var(--s-100);
    background-color: var(--clr-white);
    border-radius: var(--r-1);
    padding: var(--s-200) var(--s-100);
    scroll-snap-type: mandatory x;
}

.latest-posts__posts .blog-card {
    flex: 0 0 calc(65% - var(--s-100)); 
    scroll-snap-align: start;
}


