@import url(imports/constants.css);
@import url(imports/variables.css);
@import url(imports/loader.css);
@import url(/components/header/header.css);
@import url(/components/footer/footer.css);
@import url(/components/snackbar/snackbar.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.welcome,
.blog-card__content,
.blog__conversation__form {
    display: flex;
    flex-direction: column;
}

.categories__cards_card:hover, 
.latest-posts__posts .blog-card:hover, 
.cta:hover,
.fa-solid:hover,
.search-container__results_result:hover,
.blogs__cards__card:hover {
    cursor: pointer;
    filter: brightness(var(--b-hover));
}


a,
 .blog-card,
 .categories__cards_card {
    text-decoration: none;
}

nav li {
    list-style-type: none;
}

main {
    max-width: 1100px;
    margin: auto;
}

.cta {
    font-weight: bold;
    border: none;
    cursor: pointer;

    padding: var(--s-50) var(--s-150);
    border-radius: var(--r-2);
    background-color: var(--clr-sec);
    box-shadow: var(--bs-1);
    transition: var(--transition);
}

.blog-card {
    overflow-y: scroll;
    scrollbar-width: none;

    border-radius: var(--r-2);
    transition: var(--transition);
}

.blog-card::-webkit-scrollbar { 
    display: none;
  }

.blog-card:not(.recent-blog .blog-card) {
    max-width: 16rem;
}

.blog-card__img {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    background-color: var(--clr-white);
    border-radius: var(--r-22-00);
}

.recent-blog .blog-card .blog-card__img {
    max-height: 12rem;
    object-fit: cover;
}

.blog-card__content {
    position: relative;
    justify-content: space-between;

    gap: var(--s-50);
    border-radius: var(--r-00-22);
}

.blog-card__content_category,
.blog__article__top-row__category,
.blogs__cards__card-category {
    max-width: 75%;
    color: var(--clr-acc);
    background-color: var(--clr-pri);
    border-radius: var(--r-1-0-1-0);
    padding: var(--s-25) var(--s-100);
}

.blog-card__content_category {
    position: absolute;
    top: -1rem;
}

.blog-card__content_bottom,
.categories__cards,
.categories__cards_card > *,
.categories__cards_card   {
    display: flex;
    justify-content: space-between;
}

.blog-card__content_bottom, 
.categories__cards_card > *  {
    align-items: center;
}

.categories__cards {
    flex-wrap: wrap;
}

.categories__cards_card {
    position: relative;
    cursor: pointer;
    flex-basis: 46%;

    background-color: var(--clr-white);
    box-shadow: var(--bs-1);
    border-radius: var(--r-1);
    transition: var(--transition);
    margin: var(--s-25);
}

.categories__cards_card__img {
    flex: 1;
    object-fit: contain;
    height: var(--s-300);
    background-color: var(--clr-pri20);
    padding: var(--s-50);
    border-radius: var(--r-1-00-1)
}

.categories__cards_card__title {
    flex: 3;
}

.latest-posts__container {
    background-color: var(--clr-white);
    border-radius: var(--r-2);
    padding: var(--s-200) var(--s-100);
}

.latest-posts__posts {
    display: flex;
    overflow-x: scroll;

    gap: var(--s-100);
    padding: var(--s-200) var(--s-100);
}

.latest-posts__posts .blog-card {
    flex: 0 0 calc(65% - var(--s-100)); 
}   
    
.latest-posts__amount {
    display: none;
}

.fa-solid {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
    height: var(--s-200);
    width: var(--s-200);
    border-radius: var(--r-circle);
}

.fa-solid:hover {
    color: var(--clr-white);
    background-color: var(--clr-pri);
}

.blogs {
    min-height: 100vh;
}

.blogs__tab-bar {
    background-color: var(--clr-white);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom-left-radius: var(--r-1);
    border-bottom-right-radius: var(--r-1);
}

.blogs__tab-bar__tab {
    background-color: var(--clr-white);
    border: none;
    border-bottom: 1px solid var(--clr-pri);
    padding-inline: var(--s-100);
    font-size: var(--fs-75);
    padding-bottom: 3px;
}

.blogs__tab-bar__tab:hover {
    padding-bottom: 0;
    border-bottom: 4px solid var(--clr-pri);
    cursor: pointer;
}

.selected {
    border-bottom: 4px solid var(--clr-pri);
    font-weight: 700;
}

.selected:hover {
    padding-bottom: 3px;
}

.blogs__header,
.blogs__blog-cards {
    margin: var(--s-50);
    padding: var(--s-50);
}

.blogs__cards__card {
    background-color: var(--clr-white);
    padding: var(--s-100);
    margin: var(--s-100);
    border-radius: var(--r-2);
    box-shadow: var(--bs-1);
}

.card-flex {
    display: flex;
    justify-content: space-between;
    gap: var(--s-150);
}

.card-flex > * {
    flex: 1;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.middle {
    display: none;
}

.right > * {
    width: 90%;
    aspect-ratio: 2/1.5;
    object-fit: cover;
}

.blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--s-50);
    padding: var(--s-50);
}

.blog__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: var(--s-200);
    background-color: var(--clr-white);
    border-radius: var(--r-1);
}

.blog__article__top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: var(--s-50);
 }

 .blog-close {
    background-color: var(--clr-bg);
    border-radius: var(--r-circle);
    border: 1px solid var(--clr-pri);
 }

 .blog__article__content,
 .blog__conversation {
    width: 100%;
    max-width: 600px;
    margin-block: var(--s-100);
 }

 .blog__article__content h3 {
    margin-top: var(--s-100);
 }
 
 .blog__article__content ul {
    margin-left: var(--s-200);
 }

 .blog__article img {
    width: 100%;
    aspect-ratio: 1.5/1;
    object-fit: cover;
 }

 .blog__article figcaption p {
    font-size: var(--fs-200);
 }

.blog__conversation {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    gap: var(--s-50);
 }

 .blog__conversation__form {
    gap: var(--s-50);
    margin-block: var(--s-50);
 }

 .blog__conversation__form input,
 .blog__conversation__form textarea,
 .contact__form__form input,
 .contact__form__form textarea {
    border: none;
    font-weight: 400;

    font-size: var(--s-100);
    border-radius: var(--r-2);
    text-indent: var(--s-50);
 }


 .blog__conversation__form input,
 .contact__form__form input {
    height: var(--s-250);
 }

 .blog__conversation__comments__comment {
    background-color: var(--clr-white);
    padding: var(--s-100);
    border-radius: var(--r-1);
    margin-bottom: var(--s-100);
 }

 .blog__article__content__img-dialog {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1100px;
 }

 .blog__article__content__img-dialog img {
    object-fit: contain;
 }

 .blog__article__content__img-dialog::backdrop {
    background: black;
    opacity: 0.75;
  }

 .contact {
    margin: var(--s-100);
    padding: var(--s-50);
 }
 
 .contact__articles__article {
    max-width: 30rem;
    margin-block: var(--s-100);
 }

 .contact__articles__article p {
    margin-bottom: var(--s-50);
 }

 .contact__articles__article a {
    font-weight: 600;
 }

.contact__form__form {
    display: flex;
    flex-direction: column;

    background-color: var(--clr-white);
    padding: var(--s-200);
    border-radius: var(--r-2);
}

.contact__form__form input,
.contact__form__form textarea {
    background-color: var(--clr-bg);
    border-radius: var(--r-1);
    margin-bottom: var(--s-100);}

@media screen and (min-width: 700px) {

    .welcome {
        flex-direction: row;
        text-align: start;
    }

    .welcome > * {
        flex: 1;
    }

    .blog-card:not(.recent-blog .blog-card) {
        max-width: 30%;
    }

    .recent-blog-categories {
        display: flex;
        gap: var(--s-50);
    }

    .recent-blog {
        flex: 2;
    }

    .categories {
        flex: 1;
    }

    .categories__cards {
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-between;
    }

    .latest-posts__posts {
        overflow-x: hidden;
    }
    
    .latest-posts__posts .blog-card {
        flex: 1; 
    }    
    
    .latest-posts__amount {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--s-100);
    }

    .blogs__header {
        width: 50%;
    }

    .middle {
        display: block;
    }
}